{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<link rel="stylesheet" type="text/css" href="{{"/css/style.css" | prepend: base_path }}">
<link rel="stylesheet" type="text/css" href="{{"/css/bootstrap.css" | prepend: base_path }}">
<!-- <link rel="stylesheet" type="text/css" href="{{"/css/fontawesome.css" | prepend: base_path }}"> -->

<!-- <link rel="stylesheet" type="text/css" href="{{"/css/pub_style.css" | prepend: base_path }}"> -->


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    
    <div class="row paper-box">
      <div class="col-md-3 col-12 paper_img"> 
        <video src=
        {% if post.videopath and post.videopath contains "://" %}
          "{{post.videopath}}"
        {% elsif post.videopath%}
          "{{post.videopath | prepend: base_path }}"
        {% else %}
          "{{"/images/temp.mp4" | prepend: base_path}}" 
        {% endif %}
        width="90%" playsinline="" autoplay="autoplay" loop="loop" preload="" muted="" alt="Popup Image" class="img-fluid" ></video></div>
      <div class="col-md-9 col-12 paper-content">
          <h5>{{title}}</h5>
          <!-- <p> -->
            {% if post.author %}
              {{post.author}}
            {% else %}
              Please input authors
            {% endif %}
          <br>
          {% if post.venue and post.journal and post.date%}
          <!-- <p> -->
            (<strong><i>{{ post.venue }}</i></strong> {{ post.date | default: "1900-01-01" | date: "%Y" }}) {{ post.journal }}
          <br>
          {% endif %}
          <!-- <p>  -->
            {% if post.project %}
            <a href="{{ post.project }}" class="btn btn--inverse">Project</a>
            {% endif %}
            {% if post.youtube %}
            <a href="{{ post.youtube }}" class="btn btn--inverse btn--primary">Video</a>
            {% endif %}
            {% if post.paper %}
            <a href="{{ post.paper }}" class="btn btn--inverse btn--primary">Paper</a>
            {% endif %}
            {% if post.code %}
            <a href="{{ post.code }}" class="btn btn--inverse btn--primary">Github</a>
            {% endif %}
          <br>
      </div>
    </div>

    <!-- {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->

  </article>
</div>
