{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<!-- <link rel="stylesheet" type="text/css" href="{{"/css/fontawesome.css" | prepend: base_path }}"> -->

<!-- <link rel="stylesheet" type="text/css" href="{{"/css/pub_style.css" | prepend: base_path }}"> -->


<div class="feature__item{% if include.type %}--{{ include.type }}{%else%}--left{% endif %}">
  <!-- <link rel="stylesheet" type="text/css" href="{{"/css/style.css" | prepend: base_path }}">
  <link rel="stylesheet" type="text/css" href="{{"/css/bootstrap.css" | prepend: base_path }}"> -->
    <div class="archive__item">
      <div class="archive__item-teaser"> 
        <video src=
        {% if post.videopath and post.videopath contains "://" %}
          "{{post.videopath}}"
        {% elsif post.videopath%}
          "{{post.videopath | prepend: base_path }}"
        {% else %}
          "{{"/images/temp.mp4" | prepend: base_path}}" 
        {% endif %}
        width="90%" playsinline="" autoplay="autoplay" loop="loop" preload="" muted="" alt="Popup Image" class="img-fluid" >
      </video>
      </div>
      <div class="archive__item-body">
          <div class="archive__item-excerpt">{{title}}</div>
          <!-- <strong>{{title}}</strong> -->
          <br>
            {% if post.author %}
              {{post.author}}
            {% else %}
              Please input authors
            {% endif %}
          <br>
          {% if post.venue and post.journal and post.date%}
            (<strong><i>{{ post.venue }}</i></strong> {{ post.date | default: "1900-01-01" | date: "%Y" }}) {{ post.journal }}
          <br>
          {% endif %}
          <!-- <p>  -->
            {% if post.project %}
            <a href="{{ post.project }}" class="btn btn--inverse btn--xsmall ">Project</a>|
            {% endif %}
            {% if post.youtube %}
            <a href="{{ post.youtube }}" class="btn btn--inverse btn--border">Video</a>|
            {% endif %}
            {% if post.paper %}
            <a href="{{ post.paper }}" class="btn btn--inverse btn--border">Paper</a>
            {% endif %}
            {% if post.code %}
            |<a href="{{ post.code }}" class="btn btn--inverse btn--border">Code</a>
            {% endif %}
          <br>
      </div>
    </div>
</div>
